.form-field-line{
    padding: 20px;
}

.form-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field-line div:first-child {
    padding-bottom: 5px;
}

.input-with-badges {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 1px solid #D5D8DD;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FCFCFD;
    position: relative;
}

.badge {
    border: 1px solid #99D5FF;
    background-color: #e0f7fa;
    padding: 2px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    margin: 2px;
}

.badge div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.clear-badge {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-badges{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.badge-buttons {
    display: flex;
    gap: 5px;
}

.badge-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.input-with-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-with-icon .form-input {
    flex: 1;
}

@media screen and (max-width: 767px) {
    .form-field {
        flex-direction: column;
        align-items: stretch;
    }
    .badge div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    @media screen and (max-width: 320px) {
        .badge div{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90px;
        }
    }
}
