.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-with-badge {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-icons {
    display: flex;
    gap: 5px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button img {
    width: 16px;
    height: 16px;
}


.form-group .input-with-icon {
    display: flex;
    align-items: center;
}

.form-group .input-with-icon button {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .form-container {
        grid-template-columns: 1fr;
    }
}
