.modal-toggle {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 200;
    display: none;
}

.modal-toggle:checked + .modal-overlay {
    display: flex;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-header h3 {
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 15px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button img {
    width: 16px;
    height: 16px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.save-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .modal {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        padding: 20px 10px;
        z-index: 1;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .save-button,
    .cancel-button {
        width: 100%;
        padding: 15px;
    }
}
